* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1b078d; 
  --secondary-color: #bb7f7f; 
  --accent-color: #07556d;
  --text-color-light: #b9b9b9; 
  --text-color-dark: #06065e;
  --light-collor: #fff;

  --nav-btn-light: #e5f0f3;
  --nav-btn-dark: #e7ebec;
}

body{
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

.navigation{
  display: flex;
  justify-content: space-around;
  gap: 2px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.navigation__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.navigation__text h1{
  font-size: 32px;
  color: var(--text-color-dark);
}

.navigation__text p{
  font-size: 16px;
  color: var(--accent-color);
  margin-bottom: 5px;
}


.navigation__sort-resort {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 20px;
}


.type-button {
  background-color: var(--light-collor);
  color: var(--text-color-light);
  display: flex; 
  align-items: center;
  gap: 8px; 
  padding: 12px 24px; 
  border-radius: 30px; 
  border: 1px solid var(--text-color-light);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}

.type-button.active{
  background-color: var(--accent-color);
  color: var(--primary-color);
  border-radius: 30px;
  border: 1px solid var(--accent-color);
}

.type-button img {
  width: 18px;
  height: 18px;
}


.resort-gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  gap: 32px; 
  overflow-x: auto; 
  overflow-y: scroll;
  padding-bottom: 20px; 
}

.card-container{
  width: 300px;
  height: 350px;
  border-radius: 30px;
  object-fit: cover; 
  object-position: center;
  margin-bottom: 30px;
}

.resort-gallery__element{ 
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center; 
  border-radius: 30px;
}


.resort-gallery__text{
  font-size: 20px;
  font-weight: bold;
  margin: 20px 20px 5px 20px;
}



@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .navigation_sort-resort {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .navigation_buttons {
    margin-top: 20px;
  }

  .resort-gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .resort-gallery_element {
    width: 90%;
    margin: 0 auto;
  }

}

@media (max-width: 360px) {
   .resort-gallery {
    gap: 30px;
  }

  .navigation__text{
    font-size: 10px;
  }
  .navigation__sort-resort{
    display: flex;
  }
}